@import 'glass-bg';
@import 'footer';
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    // color: #212529;
    font-family: 'Nunito', sans-serif;
}

body {
    min-height: 100vh;
}

ul, li {
    padding: 0;
    list-style-type: none !important;
}

// COSTUM-WRAPPER-LAYOUT-COL
.costum-wrapper-flex-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

// COSTUM-GRID-LAYOUT-1FR
.costum-grid-layout {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

// COSTUM-LIST-LAYOUT


ul li {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 6px;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

ul li button, ul li span {
    width: 100%;
    margin: auto;
    overflow: hidden;
}
