@import 'glass-bg';
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    // color: #212529;
    font-family: 'Nunito', sans-serif;
}

body {
    min-height: 100vh;
    background: #8800dd;
    background: -moz-linear-gradient(-45deg,  #8800dd 0%, #af00ff 0%, #ffffff 94%);
    background: -webkit-linear-gradient(-45deg,  #8800dd 0%,#af00ff 0%,#ffffff 94%);
    background: linear-gradient(135deg,  #8800dd 0%,#af00ff 0%,#ffffff 94%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8800dd', endColorstr='#ffffff',GradientType=1 );
    
}

.wrapper-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

// COSTUM-FLEX-LAYOUT
.costum-flex-layout {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

ol li {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
}

ol li button,span {
    width: 50%;
    margin: auto;
    overflow: hidden;
}


// FOOTER
footer {
    position: sticky;
    top: 100%;
    box-shadow: none !important;
}

